@import url("./globals.css");

/*----- Page de connexion et d'inscription -----*/
.connexion, .inscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    color: VAR(--primary);
    background-color: var(--background);
}

input{
    margin: var(--spacing-sm);
    padding: var(--spacing-sm);
    border-radius: var(--radius-sm);
    border: none;
}

a{
    color: var(--primary);
    font-weight: bold;
    text-decoration: underline;
}