@import url('./globals.css');

.interface_vote{
    padding: 0 50px;
}

.interface_vote h1 span{
    color: black;
    text-transform: lowercase;
}

.content_vote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.vote_item{
    display: flex;
    width: 100%;
    height: 25vh;
    gap: 30px;
}

.element_today, .launch, .vote_percent{
    padding: 40px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #F5F5F3;
}

.element_today{
    width: 75%;
}

.launch{
    width: 25%;
}

.vote_percent{
    display: flex;
    justify-content: space-around;
    align-items: end;
    height: 45vh;
    width: 100%;
}

.vote_percent p{
    border-top: 2px solid black;

}